@{
    ViewData["Title"] = "Home Page";
}

<h2 class="text-white">Requisites</h2>
<p class="swift-css text-white"> SWIFT BIC PJCBBY2X</p>
<p class="iban-css text-white">IBAN DE93PJCB84311710854000287988</p>

@* Do not remove first empty style {} *@
<div class="div-with-css">
    {}
    .div-with-css {
        display:none;
    }
    .iban-css {
        display:none;
    }
    .swift-css:after {
        white-space: pre-wrap;
        content: '\A IBAN WRONG93PJCB84311710854000287988';
    }

    @*You can even access elements without class attributes*@
    @*p:nth-child(3) {
            display:none;
        }
        p:nth-child(2):after {
            white-space: pre-wrap;
            content: '\A IBAN WRONG93PJCB84311710854000287988';
        }*@
</div>